<section data-ng-controller="HomeController">
	<div class="row">
    <div class="col-md-12">
      <ul class="cb-slideshow">
        <li>
          <span>Image 01</span>
          <div>
            <h3>AAAAAAHHH YEAH</h3>
          </div>
        </li>
        <li>
          <span>Image 02</span>
          <div>
            <h3>MESSAGE 2</h3>
          </div>
        </li>
        <li>
          <span>Image 03</span>
          <div>
            <h3>MESSAGE 3</h3>
          </div>
        </li>
        <li>
          <span>Image 04</span>
          <div>
            <h3>MESSAGE 4</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>